.App {
    text-align: center;
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
}

.display {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5rem;
    padding: 20px;
    background-color: #505050;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

button.operator {
    background-color: #ff9500; /* Change this color to your preference */
}
button.operator:hover {
    background-color: #e67e22; /* Darker shade on hover */
}

button.operator:active {
    background-color: #d35400; /* Even darker shade when button is pressed */
}

button.zero {
    grid-column: span 2;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #666;
}
